@page "/config"
@inject HttpClient Http
@inject NavigationManager NavMgr

<h1>各種設定</h1>

<p>@debugMsg</p>
@if (config == null)
{
    <p>設定情報を取得しています・・・</p>
}
else
{
    @if (status == Status.NOOP)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>項目</th>
                    <th>情報数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @if (config.listCtPanel2Index != null)
                {
                    <tr>
                        <td>パネル</td>
                        <td>@(config.listCtPanel2Index.Count)</td>
                        <td><a class="btn btn-primary" href="config/panellist/">編集</a></td>
                    </tr>
                }
                @if (config.listTwe != null)
                {
                    <tr>
                        <td>子機</td>
                        <td>@(config.listTwe.Count)</td>
                        <td><a class="btn btn-primary" href="config/twe/">編集</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (status == Status.PANEL)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>パネル名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in config.listCtPanel2Index)
                {
                    <tr>
                        <td>@item.panel.name</td>
                        <td>
                            <button type="button" class="btn btn-primary"
                                    @onclick="()=> { StartEditPanel(item.panel); }">
                                編集
                            </button>
                            <button type="button" class="btn btn-danger"
                                    @onclick="()=> { StartDeletePanel(item.panel); }">
                                削除
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" @onclick="()=> { StartEditPanel(); }">新規作成</button>
        <button type="button" class="btn btn-secondary" @onclick="()=> { status = Status.NOOP; }">一覧に戻る</button>
    }
    else if (status == Status.TWE_LIST)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>MAC</th>
                    <th>名称</th>
                    <th>最終信号日時</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in config.listTwe)
                {
                    <tr>
                        <td>@item.mac.ToString("x8") </td>
                        <td>@item.name </td>
                        <td>@(new DateTime(item.Ticks).ToString("MM/dd HH:mm")) </td>
                        <td><button type="button" class="btn btn-primary" @onclick="()=>{ StartEditTwe(item); }">編集</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-secondary" @onclick="()=> { status = Status.NOOP; }">一覧に戻る</button>
    }
    else if (status == Status.TWE_EDIT)
    {
        @if (editTwe != null)
        {
            <EditForm Model="@editTwe" OnValidSubmit="SaveEditTwe">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <InputText id="name" @bind-Value="editTwe.name" />

                <button type="button" class="btn btn-primary" @onclick="SaveEditTwe">保存</button>
                <button type="button" class="btn btn-secondary" @onclick="CancelEditTwe">キャンセル</button>
            </EditForm>
        }

    }
    else if ((status == Status.PANEL_EDIT) && (editPanel != null))
    {
        <EditForm Model="@editPanel" OnValidSubmit="SaveEditPanel">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <h3>パネル名称</h3>
            <InputText id="name" @bind-Value="editPanel.name" />
            <p class="text-danger">既存のパネルと同じ名称を使用した場合、古いパネルが上書きされます。</p>
            <h3>表示対象子機</h3>
            <table class="table">
                <tbody>
                    @foreach (var item in editPanel.listMac2Index)
                    {
                        <tr>
                            <td>@(getTweInfoStringByMac(item.mac))</td>
                            <td>
                                <button type="button" class="btn btn-outline-info"
                                        @onclick="()=> { updatePanelTwe(item.mac, true, item.index-15); }">
                                    up
                                </button>
                                <button type="button" class="btn btn-outline-info"
                                        @onclick="()=> { updatePanelTwe(item.mac, true, item.index+15); }">
                                    down
                                </button>
                                <button type="button" class="btn btn-secondary"
                                        @onclick="()=> { updatePanelTwe(item.mac, false); }">
                                    解除
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>非表示</h3>
            <table class="table">
                <tbody>
                    @foreach (var item in config
                   .listTwe
                   .Where(q => editPanel.listMac2Index.Where(v => v.mac == q.mac).Count() == 0)
                   )
                    {
                        <tr>
                            <td>@(getTweInfoStringByMac(item.mac))</td>
                            <td>
                                <button type="button" class="btn btn-primary"
                                        @onclick="()=> { updatePanelTwe(item.mac, true); }">
                                    選択
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <button type="button" class="btn btn-primary" @onclick="SaveEditPanel">保存</button>
            <button type="button" class="btn btn-secondary" @onclick="CancelEditPanel">キャンセル</button>
        </EditForm>
    }
    else if (status == Status.PANEL_DELETE)
    {
        <h3>@editPanel.name を削除しますか？</h3>
        <button type="button" class="btn btn-danger" @onclick="DeletePanel">削除</button>
        <button type="button" class="btn btn-secondary" @onclick="CancelEditPanel">キャンセル</button>
    }
}



@code {
    public string debugMsg { get; set; }
    private Config config;
    enum Status { NOOP, PANEL, PANEL_EDIT, PANEL_DELETE, TWE_LIST, TWE_EDIT }
    private Status status = Status.NOOP;
    private ConfigTwe editTwe = null;
    private ConfigCtPanel editPanel = null;
    private SocketWorker sw = null;

    public void StartEditTwe(ConfigTwe twe)
    {
        editTwe = twe;
        status = Status.TWE_EDIT;
    }
    public void CancelEditTwe()
    {
        editTwe = null;
        status = Status.TWE_LIST;
    }
    public async Task SaveEditTwe()
    {
        editTwe = null;
        status = Status.TWE_LIST;
        await UpdateConfig();
    }
    public void StartEditPanel(ConfigCtPanel panel = null)
    {
        if (panel == null)
        {
            editPanel = new ConfigCtPanel() { dtFirstTicks = DateTime.Now.Ticks };
        }
        else
        {
            //複製(編集後にキャンセルできるように)
            editPanel = System.Text.Json.JsonSerializer.Deserialize<ConfigCtPanel>(
                System.Text.Json.JsonSerializer.Serialize(panel));
        }
        status = Status.PANEL_EDIT;
    }
    public void CancelEditPanel()
    {
        editPanel = null;
        status = Status.PANEL;
    }
    public void StartDeletePanel(ConfigCtPanel panel)
    {
        editPanel = panel;
        status = Status.PANEL_DELETE;
    }
    public async Task DeletePanel()
    {
        var ary = config.listCtPanel2Index
            .Where(q => q.panel.dtFirstTicks == editPanel.dtFirstTicks).ToArray();
        foreach(var item in ary)
        {
            config.listCtPanel2Index.Remove(item);
        }
        editPanel = null;
        status = Status.PANEL;
        await UpdateConfig();
    }
    public async Task SaveEditPanel()
    {
        //dtFirstTicksでリストに存在するパネルかを判断する
        var count = config.listCtPanel2Index
            .Where(q => q.panel.dtFirstTicks == editPanel.dtFirstTicks)
            .Count();
        if (count == 0)
        {
            long maxCount = 0;
            if (config.listCtPanel2Index.Count > 0)
            {
                maxCount = config.listCtPanel2Index.Max(q => q.index);
                maxCount += 10;
            }
            config.listCtPanel2Index.Add(new CtPanel2Index() {
                index = DateTime.Now.Ticks,
                panel = editPanel
            });
        }
        else
        {
            var p2i = config.listCtPanel2Index
                        .Where(q => q.panel.dtFirstTicks == editPanel.dtFirstTicks)
                        .FirstOrDefault();
            p2i.panel = editPanel;
        }
        editPanel = null;
        status = Status.PANEL;
        await UpdateConfig();
    }
    public string getTweInfoStringByMac(long mac)
    {
        if (config == null) { return ""; }
        if (config.listTwe == null) { return ""; }
        var twe = config.listTwe.Where(q => q.mac == mac).First();
        if (twe == null) { return ""; }
        return $"{twe.name} ({twe.mac.ToString("x8")})";
    }
    public void updatePanelTwe(long mac, bool isRegist, int index = -1)
    {
        if (isRegist)
        {
            //パネルに登録
            if (index == -1)
            {
                try
                {
                    index = editPanel.listMac2Index.Max(q => q.index) + 10;
                }
                catch (Exception e)
                {
                    index = 0;
                }
                editPanel.listMac2Index.Add(new Mac2Index() { index = index, mac = mac });
            }
            else
            {
                foreach (var item in editPanel.listMac2Index.Where(q => q.mac == mac))
                {
                    item.index = index;
                }
            }
        }
        else
        {
            //パネルから解除
            var matchList = editPanel.listMac2Index.Where(q => q.mac == mac).ToArray();
            foreach (var info in matchList)
            {
                editPanel.listMac2Index.Remove(info);
            }
        }
        editPanel.listMac2Index = editPanel.listMac2Index.OrderBy(q => q.index).ToList();
        index = 0;
        foreach (var item in editPanel.listMac2Index)
        {
            item.index = index;
            index += 10;
        }
    }
    protected async Task UpdateConfig()
    {
        await ConfigSingleton.getInstance().update(NavMgr);
    }

    protected override async Task OnInitializedAsync()
    {
        await ConfigSingleton.getInstance().getConfigAsync(NavMgr, c =>
        {
            config = c;
            this.StateHasChanged();
        });
    }
}
